<!DOCTYPE html>
<html>
	<head>
		<title>Poll</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<!-- load bootstrap css -->
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-inverse">
			    <div class="navbar-header">
			        <a class="navbar-brand" href="/">VotingPolls</a>
			    </div>
				<ul class = "nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<!-- present options for user if logged in / signup/login if there is no user-->
					<% if(user) { %>
					<li><a href="/new">New Poll</a></li>
					<li><a href="/myPolls">My Polls</a></li>
					<li><a href ="/logout">Logout</a></li>
					<% } else{ %>  
					<li><a href="/login">Login</a></li>
					<li><a href="/signup">Signup</a></li>
					<% } %>
				</ul>
			</nav>
			<% if(message.length) { %> 
                <div class="alert alert-danger"> <%= message %> </div>
            <% } %>
			<div class="container">
				<h2>Poll: <%=poll.name%></h2>
				<% var cur = 0 %>
				<% poll.options.forEach(function(option){%>
				    <strong><%=option.option%>: <%=option.votes%> votes</strong>
				    <div class="progress">
				        <div class="progress-bar <%=colors[cur%4]%>" role="progressbar" style="width:<%=option.perc%>%"></div>
				        <% cur ++ %>
				    </div>
				<%});%>
				<form action="/poll/<%=poll._id%>" method="post">
				    <div class="form-group">
                        <label for="sel">Cast your vote:</label>
                         <select class="form-control" id="sel" name="sel">
                             <% poll.options.forEach(function(option){%>
                                 <option name=<%=option.option%> value="<%=option.option%>"> <%=option.option%> </option>
                             <%});%>
                          </select>
                          <label for="custom">Or add a new option:</label>
                          <input type="text" name="custom"></input>
                        </div>
					<button type="submit" class="btn btn-success">Vote</button>
				</form>
			</div>
		</div>
	</body>
</html>